root = true

[*]
charset = utf-8
end_of_line = lf

[*.py]
end_of_line = crlf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.go]
indent_size = 2
indent_style = tab
trim_trailing_whitespace = true
